#main {
    width: 296px;
    margin: 20px auto;
}

.div1 {
    float: left;
    margin: 5px;
    border: 2px solid rgb(96, 96, 238);
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url("images/rub.jpg") no-repeat center;
    background-size: cover;
}

#sbmt {
    clear: both; /* Добавлено это свойство */
    cursor: pointer;
    margin: 20px auto;
    width: 120px;
    text-align: center;
    background-color: #ddd;
    padding: 10px;
    border: 1px solid #000;
}

#span {
    color: white;
    font-size: 24px;
    text-align: center;
    display: block;
    margin-top: 20px;
}
