@use 'normalize.css';
@use 'variables.scss';

#app{
  background-color: variables.$color-primary;
  width: 100vw;
  height: 100vw;

  .test{
    width: 100px;
    height: 100px;
    background-color: #fff;
  }
}